html,
body{
    height: 100%;
    margin: 0 auto;
}
/* Global Params */
body{
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: 2px solid orange;
}