html,
body{
    height: 100%;
    margin: 0 auto;
}
/* Global Params */
body{
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: 2px solid orange;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

p{
    color: white;
    font-family: monospace;
    font-size: 18px;
}

input{
    border: 2px solid orange;
    background-color: #191919;
    width: 50px;
    height: 50px;
}

input::placeholder{
    color: white;
    font-size: 20px;
    text-align: center;
}